<div class="center">
    <p style="text-align:end;font-size:16px;font-family:'Open Sans';">Do you have account?<a routerLink="../sign-in" style="font-weight: bold;">Sign in</a></p>
    <h2 class="title">Create account(Admin)</h2>
    <p style="font-family:'Open Sans';font-size:14px;">
        Follow the instructions to make it easier to register and you will be 
        able to explore inside.
    </p>    
    <form class="needs-validation">
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fas fa-user"></i></span>
            <input type="text" class="form-control input-field" placeholder="Username" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out his field</div>
        </div>
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fas fa-user"></i></span>
            <input type="text" class="form-control input-field" placeholder="Full name" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out his field</div>
        </div>
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fa fa-envelope"></i></span>
            <input type="email" class="form-control input-field" placeholder="Email" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Invalid email</div>
        </div>
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control input-field" placeholder="Password" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Invalid password</div>
        </div>
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fas fa-lock"></i></span>
            <input type="password" class="form-control input-field" placeholder="Confirm password" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">You must confirm password</div>
        </div>
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="far fa-address-card"></i></span>
            <input type="text" class="form-control input-field" placeholder="Company id" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">You must enter your company id</div>
        </div>
        <button type="submit" class="btn button" style="background-color:#30C16A;font-size: 16px;">Create account</button>
    </form>
</div>
