<div id="main">
  <p>Log in(Admin)</p>
  <form id="form">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" form-control />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" form-control />
    <label for="societe">Societe:</label>
    <input type="text" id="societe" name="societe" form-control />
    <div class="row">
      <div class="col d-grid">
        <button type="submit" class="btn btn-custom-color btn-block">
          Enregistrer
        </button>
      </div>
      <div class="col d-grid">
        <button type="reset" class="btn btn-custom-color btn-block">
          Annuler
        </button>
      </div>
    </div>
    <br /><br />
  </form>
</div>
