<div class="center">
    <p style="text-align:end;font-size:16px;font-family:'Open Sans';">You don't have an account?<a routerLink="../sign-up" style="font-weight: bold;">Sign up</a></p>
    <p style="text-align:end;font-size:16px;font-family:'Open Sans';">You don't have an account(Admin)?<a routerLink="../sign-up-admin" style="font-weight: bold;">Sign up</a></p>
    <h2 class="title">Sign In</h2>
    <p style="font-family:'Open Sans';font-size:14px;">
        Follow the instructions to make it easier to sign in and you will be 
        able to explore inside.
    </p>    
    <form class="needs-validation">
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fa fa-envelope"></i></span>
            <input type="email" class="form-control input-field" placeholder="Email" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Invalid email</div>
        </div>

        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fas fa-lock"></i></span>
            <input type="password" class="form-control input-field" placeholder="Confirm password" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Invalid password</div>
        </div>
        <button type="submit" class="btn button" style="background-color:#30C16A;font-size: 16px;"><a class="nav-link" routerLink="">Sign in</a></button>
    </form>
</div>
