<div class="center">
    <h2 class="title">Ajouter un voyage</h2>
    <form class="needs-validation">
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fas fa-id-card"></i></span>
            <input [(ngModel)]="voyage.matricule" name="matricule" type="text" class="form-control input-field"   placeholder="Matricule moyen de transport" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out his field</div>
        </div>
        <div class="my-3 ">
            <label>Temp départ</label>
            <input type="time" [(ngModel)]="voyage.temp_dep" name="td" class="form-control input-field" placeholder="Temp arrivée" required>
            <label>Temp arrivée</label>
            <input type="time" [(ngModel)]="voyage.temp_arr" name="ta"class="form-control input-field" placeholder="Temp arrivée" required>
        </div>
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fa-solid fa-coins"></i></span>
            <input type="number" [(ngModel)]="voyage.prix" name="prix" class="form-control input-field" placeholder="Prix" min="0.5" max="10" step="0.1" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out his field</div>
        </div>
        <button type="submit" (click)="ajouterVoyage()" class="btn button" style="background-color:#30C16A;font-size: 16px;">Ajouter</button>
    </form>
</div>
