<div id="main">
  <p>Ajout d'un moyen de Transport:</p>
  <form id="form">
    <label for="id">ID:</label>
    <input type="text" id="id" name="identifier" form-control />
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="namee" form-control />
    <label for="etat">Etat:</label>
    <input type="text" id="etat" name="disponible" form-control />
    <div class="row">
      <div class="col d-grid">
        <button type="submit" class="btn btn-custom-color btn-block">
          Ajouter
        </button>
      </div>
      <div class="col d-grid">
        <button type="reset" class="btn btn-custom-color btn-block">
          Annuler
        </button>
      </div>
    </div>
    <br /><br />
  </form>
</div>
