#form {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
  gap: 10px;
}
p {
  text-align: center;
  color: #8929c3;
  font-size: xx-large;
}
#main {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 1040px;
  max-width: 727px;
}
.btn-custom-color {
  background-color: #8929c3;
  border-color: #8929c3;
  color: white;
}
