
<div class="center">
    <h2 class="title">Modifier moyen de Transport</h2>
    <form class="needs-validation">
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fas fa-id-card "></i></span>
            <input type="text" class="form-control input-field" placeholder="id" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out his field</div>
        </div>
        <div class="row">
          <div class="col-6">
            <label class="form-text">Choisir le moyen de transport</label>
          </div>
          <div class="col-4">
            <select class="form-select">
              <option>Bus</option>
              <option>Métro</option>
            </select>
          </div>
        </div>
  
        <div class="input-with-icon my-3 ">
            <!-- <span class="icon"><i class="fa fa-envelope"></i></span> -->
            <input type="email" class="form-control-sm input-field" placeholder="etat(disponible par défaut)" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Invalid email</div>
        </div>
        <button type="submit" class="btn button"> Ajouter</button>
    </form>
  </div>
  