<div class="center">
    <h2 class="title">Voyage  <button class="btn"><i class="fa fa-trash" style="font-size:30px;color:red"></i></button></h2>
   
    <form class="needs-validation">
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fa fa-route"></i></span>
            <input type="text" class="form-control input-field" pattern="[0-9]*" placeholder="Distance(we can calculate it by ourselves)" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out his field</div>
        </div>
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fa fa-money-bill"></i></span>
            <input type="text" class="form-control input-field" pattern="[0-9]*[.,]?[0-9]*" placeholder="Prix" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out his field</div>
        </div>
              
        <div class="row my-3">
            <div class="col-5 ms-2">
                <label>Ville départ</label>
                <select class="form-select">
                    <option>Ariana</option>
                    <option>Marsa</option>
                    <option>Manouba</option>
                </select>
            </div>
            <div class="col-5 ms-4">
                <label >Ville arrivée</label>
                <select class="form-select">
                    <option>Ariana</option>
                    <option>Marsa</option>
                    <option>Manouba</option>
                </select>
                    <div class="valid-feedback">Valid</div>
                    <div class="invalid-feedback">Please fill out his field</div>
            </div>
        </div>


        <button type="submit" class="btn button" style="background-color:#30C16A;font-size: 16px;">Modifier</button>


  
    </form>

</div>