#title {
  font-size: 40px;
}
span {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
#nav {
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px;
  padding: 20px;
}

a{
  color: white;
}
.text{
  font-family:"Open Sans";
  font-size:20px;
  font-weight: 600;
}
.title{
  font-family: "Open Sans";
  font-size:24px;
  font-weight: 600;
}
nav{
  background-color: #30C16A;
  border-radius: 0 0 2% 2% ;
}