#title {
  font-size: 40px;
}
span {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
#nav {
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px;
  padding: 20px;
}
body {
  background-color: #8929c3;
}
a {
  color: white;
}
