<div class="center">
    <p style="text-align:end;font-size:16px;font-family:'Open Sans';">Do you have account?<a routerLink="/sign-in" style="font-weight: bold;">Sign in</a></p>
    <h2 class="title " >Create account</h2>
    <p style="font-family:'Open Sans';font-size:14px;">
        Follow the instructions to make it easier to register and you will be 
        able to explore inside.
    </p>    
    <form class="needs-validation">
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fas fa-user"></i></span>
            <input type="text" class="form-control input-field" placeholder="Username" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out his field</div>
        </div>
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fas fa-user"></i></span>
            <input type="text" class="form-control input-field" placeholder="Full name" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out his field</div>
        </div>
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fa fa-envelope"></i></span>
            <input type="email" class="form-control input-field" placeholder="Email" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Invalid email</div>
        </div>
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control input-field" placeholder="Password" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Invalid password</div>
        </div>
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fas fa-lock"></i></span>
            <input type="password" class="form-control input-field" placeholder="Confirm password" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">You must confirm password</div>
        </div>
        <button type="submit" class="btn button" style="background-color:#30C16A;font-size: 16px;"><a class="nav-link" routerLink="/sign-in">Create account</a></button>
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn signUpWithButton" style="margin-left: 20px"><img src="../../assets/images/g.webp" class="logo">Google</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn signUpWithButton" style="margin-left: 20px"><img src="../../assets/images/fb.png" class="logo">Facebook</button>

            </div>
        </div>
     
    </form>

</div>
<router-outlet></router-outlet>