<div class="center">  
    <h2 class="title">Consulter voyage</h2>
  
    <form class="needs-validation" action="../modifier-supprimer-voyage">
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fa fa-id-card"></i></span>
            <input type="text" class="form-control input-field" pattern="[0-9]{4}" placeholder="Numéro voyage" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Invalid email</div>
        </div>
        <button type="submit" class="btn button" style="background-color:#30C16A;font-size: 16px;">Consulter</button>
    </form>
</div>
<div >
 <table bordered border="3">
    <tr>
        <th>voyage id</th>
        <th>ville depart</th>
        <th>ville arrivée</th>
        <th>temp depart</th>
        <th>temp arrivée</th>
        <th>prix</th>    
    </tr>
    <tr>
        <td>1</td>
        <td>Ariana</td>
        <td>Menzah</td>
        <td>1:00pm</td>
        <td>1:30pm</td>
        <td>0.5dt</td>
    </tr>
 </table>
</div>