<div class="text">
    <button type="button" class="btn button btn-primary" (click)="goToAjouterVoyage()">Ajouter voyage</button>
    <div class="center">
        <h2 class="title">Liste des voyage du secteur :</h2>
        <div  *ngIf="voyagesBus.length">
            <h5>Bus : </h5>
            <p >Prix : {{prixBus}} DT </p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>id</td>
                        <td>temp d'arrivée</td>
                        <td>temp d'arrivée</td>   
                        <td>Modifier le voyage</td>
                        <td>Supprimer le voyage</td>                     
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let voyage of voyagesBus">
                        <td>{{voyage.idvoyage}}</td>
                        <td>{{voyage.temp_dep}}</td>
                        <td>{{voyage.temp_arr}}</td>
                        <td><button class="btn btn-primary" (click)="goToModifierVoyage(voyage.idvoyage,voyage.temp_dep,voyage.temp_arr)">Modifier</button></td>
                        <td><button class="btn" (click)="supprimerVoyage(voyage.idvoyage)"><i class="fa fa-trash" style="font-size:30px;color:red"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="voyagesMetro.length">
            <h5 >Métro : </h5>
            <p >Prix : {{prixMetro}}</p>
            <table class="table table-striped" >
                <thead>
                    <tr>
                        <td>voyage id</td>
                        <td>tempde départ</td>
                        <td>temp d'arrivée</td>
                        <td>Modifier le voyage</td>
                        <td>Supprimer le voyage</td>   
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let voyage of voyagesMetro">
                        <td>{{voyage.idvoyage}}</td>
                        <td>{{voyage.temp_dep}}</td>
                        <td>{{voyage.temp_arr}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="goToModifierVoyage(voyage.idvoyage,voyage.temp_dep,voyage.temp_arr)">Modifier</button>
                        </td>
                        <td>
                            <td><button class="btn" (click)="supprimerVoyage(voyage.idvoyage)"><i class="fa fa-trash" style="font-size:30px;color:red"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<router-outlet></router-outlet>
