/*.button {
  height: 50px;
  width: 100%;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.title {
  font-family: "Open Sans";
  font-weight: bold;
  size: 35px;
  color: #03014c;
}
.center {
  margin: auto;
  width: 30%;
  padding: 10px;
  padding-top: 10%;
}*/
.button {
  height: 50px;
  width: 100%;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.title {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 35px;
  color: #03014c;
}

.center {
  margin: auto;
  width: 60%; /* Adjusted width */
  padding: 10px;
  padding-top: 10%;
}

.custom-select {
  width: 100%;
}
