<div id="main">
  <p>Choisir Votre Trajet</p>
  <form action="" id="form">
    <label for="secteur">Secteur :</label>
    <input
      list="secteurs"
      name="secteur"
      id="secteur"
      placeholder="Ariana-Manzah"
    />
    <datalist id="secteurs">
      <option value="Ariana-Manzah"></option>
    </datalist>
    <label for="moyentt">Moyen de transport:</label>
    <input list="moyt" name="moyenT" id="moyentt" placeholder="Bus" />
    <datalist id="moyenT">
      <option value="Bus"></option>
    </datalist>
    <label for="horraire">Horraire :</label>
    <input list="heure" name="heures" id="horraire" placeholder="9:00" />
    <datalist id="horraire">
      <option value="9:00"></option>
    </datalist>
    <br />
    <div class="row">
      <div class="col d-grid">
        <button type="submit" class="btn btn-custom-color btn-block">
          Enregistrer
        </button>
      </div>
      <div class="col d-grid">
        <button type="reset" class="btn btn-custom-color btn-block">
          Annuler
        </button>
      </div>
    </div>
    <br /><br />
  </form>
</div>
