<form action="">
  <div class="row">
    <button class="btn btn-custom-color btn-block" (click)="goToEnregist()">
      Enregistrer votre trajet
    </button>
  </div>
  <div class="row">
    <button class="btn btn-custom-color link" (click)="goToGerer()">
      Gerer moyen de transport
    </button>
  </div>
  <div class="row">
    <button class="btn btn-custom-color link">Consulter statistique</button>
  </div>
  <div class="row">
    <button class="btn btn-custom-color link">Consulter historique</button>
  </div>
  <div class="row">
    <button class="btn btn-custom-color "><a class="link" routerLink="../consulter-secteur">Consulter secteur</a></button>
  </div>

  <div class="row">
    <button class="btn btn-custom-color "><a class="link" routerLink="../list-voyage">Liste des voyage(secteurId=1)</a></button>
  </div>
</form>
