<form action="">
  <div class="row">
    <button class="btn btn-custom-color btn-block" (click)="goToEnregist()">
      Enregistrer votre trajet
    </button>
  </div>
  <div class="row">
    <button class="btn btn-custom-color" (click)="goToGerer()">
      Gerer moyen de transport
    </button>
  </div>
  <div class="row">
    <button class="btn btn-custom-color">Gerer les voyages</button>
  </div>
  <div class="row">
    <button class="btn btn-custom-color">Consulter statistique</button>
  </div>
  <div class="row">
    <button class="btn btn-custom-color">Consulter historique</button>
  </div>
</form>
