<!--<p [style.display]="titleStyle">this is a dynamic test</p>
<button (click)="show()">show</button>
<button (click)="hidden()">hidden</button>
<p>{{ name }}</p>
<p [style]="butt">jhdfghfs</p>
<button (click)="inc()">incrementer</button>
<button (click)="dec()">decrementer</button>
<p>{{ number }} {{ name }} {{ lastName }}</p>
<input type="text" [(ngModel)]="number" />
<input type="text" [(ngModel)]="lastName" />
<input type="text" [(ngModel)]="name" />
<div *ngFor="let item of arrayOf">
  <p>{{ item }}</p>
</div>
<input type="number" [(ngModel)]="number" />
<div [ngSwitch]="number">
  <p *ngSwitchCase="1">First</p>
  <p *ngSwitchCase="2">Second</p>
  <p *ngSwitchCase="3">Third</p>
</div>
<p [ngClass]="'title'">7ousem wa laylaa</p>
<form #f="ngForm" (click)="add(f)">
  <input type="text" name="firstname" #firstname="ngModel" ngModel required />
  <div
    class="alert alert-danger"
    role="alert"
    *ngIf="firstname.errors?.['required'] && firstname.touched"
  >
    vous devez preciser votre nom
  </div>
  <input type="text" name="=lastname" ngModel />
  <input type="number" name="age" id="" ngModel />
  <button type="submit" [disabled]="f.invalid">add</button>
</form>-->
<h2>Wasalni</h2>
<p class="intro">
  <span>
    Bienvenue sur notre plateforme Wasalni pour l'achat de billets de
    transport !</span
  ><br />
  <span
    >Planifiez facilement vos trajets et achetez vos billets depuis le confort
    de votre domicile ou en déplacement</span>
</p>
<div>
  <div class="row">
    <div class="col">
      <button class="btn btn-block btn-custom-color" (click)="goTosignup()">
        Sign up
      </button>
    </div>
    <div class="col">
      <button class="btn btn-block btn-custom-color" (click)="goToLogIn()">
        Log in
      </button>
    </div>
  </div>
</div>
