<div class="center">  
    <h2 class="title">Consulter Secteur</h2>
    <form class="needs-validation" action="../consulter-voyage">
        <div class="input-with-icon my-3 ">
            <span class="icon"><i class="fa fa-id-card"></i></span>
            <input type="text" class="form-control input-field" pattern="[0-9]{4}" placeholder="Numéro voyage" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Invalid email</div>
        </div>
        <button type="submit" class="btn button" style="background-color:#30C16A;font-size: 16px;"><a class="nav-link" routerLink="/consulter-voyage">Consulter secteur</a></button>
    </form>
</div>
<router-outlet></router-outlet>
