<div class="center">  
    <h2 class="title">Consulter Secteur</h2>
    <form class="needs-validation" action="http://localhost/api/secteurs.php" method="get">
        Ville depart : 
        <div style="width:450px">
            <select [(ngModel)]="selectedDepart" name="vd" class="form-select">
                <option *ngFor="let secteur of secteurs">{{secteur}}</option>
            </select>
        </div>
        Ville arrivée
        <div class="mb-3" style="width:450px">
            <select  [(ngModel)]="selectedArrivee" class="form-select" name="vd">
                <option *ngFor="let secteur of secteurs">{{secteur}}</option>
            </select>
        </div>
        <button type="submit" (click)="check()" class="btn button" style="background-color:#30C16A;font-size: 16px;">Consulter secteur</button>
    </form>
</div>
<router-outlet></router-outlet>
