<h2>Wasalni</h2>
<p class="intro">
  <span>
    Bienvenue sur notre plateforme Wasalni pour l'achat de billets de transport
    !</span
  ><br />
  <span
    >Planifiez facilement vos trajets et achetez vos billets depuis le confort
    de votre domicile ou en déplacement</span
  >
</p>
<div>
  <div class="row">
    <div class="col">
      <button class="btn btn-block btn-custom-color" (click)="goTosignup()">
        Sign up (as user)
      </button>
    </div>
    <div class="col">
      <button (click)="goTosignin()" class="btn btn-block btn-custom-color">
        Sign in
      </button>
    </div>
  </div>
</div>
